@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap");

:root {
  /* colors */
  --main-color: #3880e5;
  --dark-color: #052f5f;
  --black: #222222;
  --parag-color: #666666;
  --border-color: #6666662a;

  /* font */
  --global-font: "Rubik", sans-serif;
  --subtitle-font: "Satisfy", cursive;
  --parag-font: "Jost", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--global-font);
}

body {
  background-color: #f9f9f9;
}

*::selection {
  background-color: var(--dark-color);
  color: #fff;
}

p {
  font-family: var(--parag-font);
  color: var(--parag-color);
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

/* start header */
header .top-header {
  padding: 15px 0;
  background-color: var(--dark-color);
  color: #fff;
}

header .top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top-header hr {
  width: 20px;
  transform: rotate(90deg);
}

header .top-header .header_email {
  display: flex;
  gap: 10px;
  align-items: center;
}

header .top-header .header_email i {
  font-size: 25px;
  color: #a2c2ee;
}

header .top-header .header_email .content h5 {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  color: #a2c2ee;
}

header .top-header .header_email .content h6 {
  font-size: 14px;
  font-weight: 500;
}

header .top-header p {
  font-size: 14px;
}

header .top-header p span {
  font-weight: 500;
  text-decoration: underline;
  color: #a2c2ee;
}

header .top-header .social_link {
  display: flex;
  gap: 10px;
}

header .top-header .social_link a {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

header .top-header .social_link a i {
  font-size: 14px;
}

header .top-header .social_link a:hover {
  border-color: #a2c2ee;
  color: #a2c2ee;
  transform: scale(1.1);
}

header .main_header {
  padding: 10px 0;
  background-color: #fff;
}

header .main_header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main_header a {
  display: flex;
  align-items: center;
}

header .main_header .phone_btn {
  gap: 10px;
}

header .main_header .logo img {
  width: 50px;
}

header .main_header .logo h1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  font-style: italic;
  color: var(--main-color);
}

header .main_header nav ul {
  display: flex;
  gap: 20px;
}

header .main_header nav ul li {
  font-size: 15px;
  color: var(--dark-color);
  transition: 0.3s ease-in-out;
}

header .main_header nav ul li::first-letter {
  text-transform: capitalize;
}

header .main_header nav ul li:hover,
header .main_header nav ul li.active {
  color: var(--main-color);
}

header .main_header nav ul li:hover {
  transform: scale(1.1);
}

header .main_header .phone_btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

header .main_header .phone_btn i {
  font-size: 16px;
}

header .main_header .phone_btn:hover {
  background-color: transparent;
  border-color: var(--dark-color);
  color: var(--dark-color);
}
/* end header */

/* start hero-sec */
.hero-sec {
  position: relative;
  height: 580px;
}

.hero-sec video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-sec .background_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #052f5f49;
}

.hero-sec .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hero-sec .content h4 {
  padding: 5px 20px;
  font-size: 18px;
  font-family: var(--subtitle-font);
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 30px 0 30px 0;
}

.hero-sec .content h1 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--dark-color);
}

.hero-sec .content p {
  font-size: 16px;
  font-family: var(--parag-font);
  text-align: center;
  color: #fff;
}

.hero-sec .content a {
  padding: 10px 20px;
  background-color: var(--dark-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.hero-sec .content a:hover {
  background-color: var(--main-color);
}

/* end hero-sec */

/* start features_sec */

.features_sec {
  padding: 40px 0;
}

.features_sec .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.sec_title .subtitle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.sec_title .subtitle img {
  width: 20px;
}

.sec_title .subtitle h3 {
  font-size: 25px;
  font-family: var(--subtitle-font);
  text-transform: capitalize;
  color: var(--main-color);
}

.sec_title h1 {
  font-size: 40px;
  text-transform: capitalize;
  color: var(--dark-color);
}

.features_sec .features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.features_sec .features .single_feature {
  width: 23%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px 5px 50px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.features_sec .features .single_feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
}

.features_sec .features .single_feature:hover {
  box-shadow: 10px 15px 20px #94949428;
}

.features_sec .features .single_feature h3 {
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
}

.features_sec .features .single_feature p {
  font-size: 14px;
}

/* end features_sec */
