@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap");

:root {
  /* colors */
  --main-color: #3880e5;
  --dark-color: #052f5f;
  --black: #222222;
  --parag-color: #666666;
  --border-color: #6666662a;

  /* font */
  --global-font: "Rubik", sans-serif;
  --subtitle-font: "Satisfy", cursive;
  --parag-font: "Jost", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--global-font);
}

body {
  background-color: #f9f9f9;
}

*::selection {
  background-color: var(--dark-color);
  color: #fff;
}

p {
  font-family: var(--parag-font);
  color: var(--parag-color);
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

/* start header */
header .top-header {
  padding: 15px 0;
  background-color: var(--dark-color);
  color: #fff;
}

header .top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top-header hr {
  width: 20px;
  transform: rotate(90deg);
}

header .top-header .header_email {
  display: flex;
  gap: 10px;
  align-items: center;
}

header .top-header .header_email i {
  font-size: 25px;
  color: #a2c2ee;
}

header .top-header .header_email .content h5 {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  color: #a2c2ee;
}

header .top-header .header_email .content h6 {
  font-size: 14px;
  font-weight: 500;
}

header .top-header p {
  color: #fff;
  font-size: 14px;
}

header .top-header p span {
  font-weight: 500;
  text-decoration: underline;
  color: #a2c2ee;
}

header .top-header .social_link {
  display: flex;
  gap: 10px;
}

header .top-header .social_link a {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

header .top-header .social_link a i {
  font-size: 14px;
}

header .top-header .social_link a:hover {
  border-color: #a2c2ee;
  color: #a2c2ee;
  transform: scale(1.1);
}

header .main_header {
  padding: 10px 0;
  background-color: #fff;
}

header .main_header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main_header a {
  display: flex;
  align-items: center;
}

header .main_header .phone_btn {
  gap: 10px;
}

header .main_header .logo img {
  width: 50px;
}

header .main_header .logo h1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  font-style: italic;
  color: var(--main-color);
}

header .main_header nav ul {
  display: flex;
  gap: 20px;
}

header .main_header nav ul li {
  font-size: 15px;
  color: var(--dark-color);
  transition: 0.3s ease-in-out;
}

header .main_header nav ul li::first-letter {
  text-transform: capitalize;
}

header .main_header nav ul li:hover,
header .main_header nav ul li.active {
  color: var(--main-color);
}

header .main_header nav ul li:hover {
  transform: scale(1.1);
}

header .main_header .phone_btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

header .main_header .phone_btn i {
  font-size: 16px;
}

header .main_header .phone_btn:hover {
  background-color: transparent;
  border-color: var(--dark-color);
  color: var(--dark-color);
}
/* end header */

/* start hero-sec */
.hero-sec {
  position: relative;
  height: 580px;
}

.hero-sec video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-sec .background_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #052f5f49;
}

.hero-sec .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hero-sec .content h4 {
  padding: 5px 20px;
  font-size: 18px;
  font-family: var(--subtitle-font);
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 30px 0 30px 0;
}

.hero-sec .content h1 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--dark-color);
}

.hero-sec .content p {
  font-size: 16px;
  font-family: var(--parag-font);
  text-align: center;
  color: #fff;
}

.hero-sec .content a {
  padding: 10px 20px;
  background-color: var(--dark-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.hero-sec .content a:hover {
  background-color: var(--main-color);
}

/* end hero-sec */

/* start features_sec */

.features_sec {
  padding: 40px 0;
}

.features_sec .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.sec_title .subtitle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.sec_title .subtitle img {
  width: 20px;
}

.sec_title .subtitle h3 {
  font-size: 25px;
  font-family: var(--subtitle-font);
  text-transform: capitalize;
  color: var(--main-color);
}

.sec_title h1 {
  font-size: 40px;
  text-transform: capitalize;
  color: var(--dark-color);
}

.sec_title p {
  text-align: center;
  width: 80%;
}

.features_sec .features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.features_sec .features .single_feature {
  width: 23%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px 5px 50px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.features_sec .features .single_feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
}

.features_sec .features .single_feature:hover {
  box-shadow: 10px 15px 20px #94949428;
}

.features_sec .features .single_feature h3 {
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
}

.features_sec .features .single_feature p {
  font-size: 14px;
}

/* end features_sec */

/* start populaire_sec */
.populaire_sec {
  padding: 40px 0;
}

.populaire_sec .populaire-swp {
  overflow: hidden;
}

.destinations {
  margin: 20px 0;
}

.destinations .single_destination {
  width: 33%;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
}

.destinations .single_destination .destination_img {
  width: 100%;
  overflow: hidden;
}

.destinations .single_destination .destination_img img {
  width: 100%;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.destinations .single_destination .destination_img img:hover {
  transform: scale(1.1);
}

.destinations .single_destination .destination_info {
  display: flex;
}

.destinations .single_destination .destination_info .single_info {
  width: calc(100% / 3);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--border-color);
}

.destinations .single_destination .destination_info .single_info:nth-child(2) {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.destinations .single_destination .destination_info .single_info i {
  font-size: 16px;
  color: var(--main-color);
}

.destinations .single_destination .destination_info .single_info span {
  font-size: 14px;
  color: var(--parag-color);
  text-transform: capitalize;
}

.destinations .single_destination .content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.destinations .single_destination .content .text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 14px;
}

.destinations .single_destination .content .text p::first-letter {
  text-transform: capitalize;
}

.destinations .single_destination .content .text ul li {
  display: flex;
  gap: 3px;
  align-items: center;
  padding-left: 5px;
}

.destinations .single_destination .content .text ul li i {
  color: var(--main-color);
}

.destinations .single_destination .content .bottom_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destinations .single_destination .content .bottom_card .price_content p {
  font-size: 14px;
}

.destinations
  .single_destination
  .content
  .bottom_card
  .price_content
  p::first-letter {
  text-transform: capitalize;
}

.destinations .single_destination .content .bottom_card .price_content .price {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.destinations
  .single_destination
  .content
  .bottom_card
  .price_content
  .price
  h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
}

.destinations
  .single_destination
  .content
  .bottom_card
  .price_content
  .price
  h5 {
  font-size: 15px;
  font-weight: 500;
  color: var(--dark-color);
  text-decoration: line-through;
}

.destinations .single_destination .content .bottom_card .book {
  padding: 10px 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.destinations .single_destination .content .bottom_card .book i {
  font-size: 16px;
}

.populaire_sec
  .destinations
  .single_destination
  .content
  .bottom_card
  .book:hover {
  background-color: var(--dark-color);
}
/* end populaire_sec */

/* start modal */
.modal_sec .background_modal {
  display: none;
}

.modal_sec .background_modal.active {
  display: block;
}

.modal_sec .background_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6666664b;
  z-index: 99;
}

.modal_sec .modal {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  z-index: 100;
}

.modal_sec .modal.active {
  top: 40px;
}

.modal_sec .modal .top_modal {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.modal_sec .modal .top_modal h1 {
  font-size: 30px;
  color: var(--dark-color);
  text-transform: capitalize;
}

.modal_sec .modal .top_modal i {
  font-size: 25px;
  color: var(--dark-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.modal_sec .modal .top_modal i:hover {
  color: var(--main-color);
  transform: rotate(180deg);
}

.modal_sec .modal .main_form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
}

.modal_sec .modal .main_form .row_two_input .single_input,
.modal_sec .modal .main_form .row_one_input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal_sec .modal .main_form .row_two_input {
  display: flex;
  gap: 10px;
}

.modal_sec .modal .main_form .row_two_input .single_input {
  width: 50%;
}

.modal_sec .modal .main_form label {
  font-family: var(--parag-font);
  color: var(--parag-color);
}

.modal_sec .modal .main_form label::first-letter {
  text-transform: capitalize;
}

.modal_sec .modal .main_form select,
.modal_sec .modal .main_form .radio_btn input[type="number"],
.modal_sec .modal .main_form input[type="email"],
.modal_sec .modal .main_form input[type="tel"],
.modal_sec .modal .main_form input[type="text"] {
  padding: 7px 10px;
  border: 1px solid var(--parag-color);
  border-radius: 5px;
  outline: none;
}

.modal_sec .modal .main_form select::placeholder,
.modal_sec .modal .main_form .radio_btn input[type="number"]::placeholder,
.modal_sec .modal .main_form input[type="email"]::placeholder,
.modal_sec .modal .main_form input[type="tel"]::placeholder,
.modal_sec .modal .main_form input[type="text"]::placeholder {
  font-family: var(--parag-font);
  text-transform: capitalize;
}

.modal_sec .modal .main_form select:focus,
.modal_sec .modal .main_form .radio_btn input[type="number"]:focus,
.modal_sec .modal .main_form input[type="email"]:focus,
.modal_sec .modal .main_form input[type="tel"]:focus,
.modal_sec .modal .main_form input[type="text"]:focus {
  border-color: var(--main-color);
}

.modal_sec .modal .main_form select:focus,
.modal_sec .modal .main_form .radio_btn input[type="number"]:focus::placeholder,
.modal_sec .modal .main_form input[type="email"]:focus::placeholder,
.modal_sec .modal .main_form input[type="tel"]:focus::placeholder,
.modal_sec .modal .main_form input[type="text"]:focus::placeholder {
  color: var(--main-color);
}

.modal_sec .modal .main_form select {
  text-transform: capitalize;
  color: var(--parag-color);
}

.modal_sec .modal .main_form .radio_btn {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: auto 0;
}

.modal_sec .modal .main_form .radio_btn .single_radio {
  display: flex;
  gap: 5px;
  align-items: center;
}

.modal_sec .modal .main_form .radio_btn label {
  font-size: 14px;
  text-transform: capitalize;
}

.modal_sec .modal .main_form .radio_btn label,
.modal_sec .modal .main_form .radio_btn input[type="radio"] {
  cursor: pointer;
}

.modal_sec .modal .main_form .radio_btn input[type="number"] {
  display: none;
}

.modal_sec .modal .main_form .radio_btn input[type="number"].active {
  width: 80px;
  display: block;
}

.modal_sec .modal .bottom_modal {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.modal_sec .modal .bottom_modal button {
  padding: 10px 15px;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.modal_sec .modal .bottom_modal button[type="submit"] {
  background-color: var(--dark-color);
}

.modal_sec .modal .bottom_modal button[type="reset"] {
  background-color: var(--main-color);
}

.modal_sec .modal .bottom_modal button[type="submit"]:hover {
  background-color: #001936;
}

.modal_sec .modal .bottom_modal button[type="reset"]:hover {
  background-color: rgb(54, 114, 197);
}

/* end modal */

/* start banner_sec */
.banner_sec {
  height: 250px;
  background-image: url("/assets/images/background/background-1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner_sec::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #052f5f81;
  z-index: 1;
}

.banner_sec .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 2;
}
.banner_sec .content h1 {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--dark-color);
  border-radius: 30px 0 30px 0;
  color: #fff;
}

.banner_sec .content p {
  font-family: var(--parag-font);
  text-align: center;
  color: #fff;
}

.banner_sec .content a {
  padding: 8px 15px;
  background-color: var(--dark-color);
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
}
/* end banner_sec */

/* start offre_sec */

.offre_sec {
  padding: 40px 0;
}

.offre_sec .offre-swp {
  overflow: hidden;
}

/* end offre_sec */

/* start footer */
footer {
  background-color: var(--dark-color);
}

footer .main_footer {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid #ffffff6a;
  display: flex;
  gap: 20px;
}

footer .main_footer .row {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .main_footer .row .title {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

footer .main_footer .row p {
  font-family: var(--parag-font);
  color: #ffffff9a;
  font-size: 14px;
}

footer .main_footer .row ul {
  font-size: 15px;
  line-height: 1.6;
  text-transform: capitalize;
}

footer .main_footer .row ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ffffff9a;
}

footer .main_footer .row .fast_link a li i {
  font-size: 9px;
}

footer .main_footer .row .contact_list li i {
  font-size: 18px;
}

footer .main_footer .row .fast_link a li {
  transition: 0.3s ease-in-out;
}

footer .main_footer .row .fast_link a li:hover {
  color: var(--main-color);
  transform: scale(1.05);
  padding-left: 5px;
}

footer .main_footer .row .contact_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .main_footer .row .contact_link {
  display: flex;
  gap: 10px;
}

footer .main_footer .row .contact_link a li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff9a;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

footer .main_footer .row .contact_link a li:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  transform: scale(1.1);
}

footer .main_footer .row .contact_link a li i {
  font-size: 16px;
}

footer .main_footer .row .footer_images{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

footer .main_footer .row .footer_images img {
  width: 80px;
  border: 3px solid #fff;
}

footer .bottom_footer {
  padding: 10px 0;
}

footer .bottom_footer p {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

footer .bottom_footer p span {
  color: #a2c2ee;
  font-weight: 500;
}

footer .bottom_footer p a {
  text-decoration: underline;
  color: #fff;
  transition: 0.3s ease-in-out;
}

footer .bottom_footer p a:hover {
  color: #a2c2ee;
}
/* end footer */
